.vs/*
LearningUWP2/.vs/*
LearningUWP2/bin/*
LearningUWP2/obj/*
LearningUWPMVVM/bin/*
LearningUWPMVVM/obj/*
ModelsP/bin/*
ModelsP/obj/*
ViewModelP/bin/*
ViewModelP/obj/*
LeaningUWPControl/bin/*
LeaningUWPControl/obj/*